{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<div class="img-container cusat-logo">
    <img src="{% static 'img/whitecusat.svg' %}" alt="Shortradr logo">
</div>
<div class="img-container tagline">
    <p>Made in CUSAT<br> Made for the WORLD</p>
</div>
<div class="img-container center-text">
    <p>radr.in</p>
</div>

<div class="container">
    <h1>LinkRadr - URL Shortener</h1>
    <form action="/shorten/" method="post" class="url-form">
        {% csrf_token %}
        <input type="url" id="url" name="url" placeholder="Enter your URL..." required>
        <div class="btn-container">
            <button type="submit" class="btn-shorten btn-shorten-home">Shorten</button>
        </div>
    </form>
</div>

{% endblock %}
