{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<div class="img-container cusat-logo">
    <picture>
        <source media="(min-width: 768px)" srcset="{% static 'img/whitecusat.svg'%}">
        <source media="(min-width: 480px)" srcset="{% static 'img/greyish.svg'%}">
        <img src="{% static 'img/greyish.svg'%}" alt="Responsive Image">
    </picture>
    
</div>
<div class="img-container tagline">
    <p>Made in CUSAT<br> Made for the WORLD</p>
</div>
<div class="img-container center-text">
    <a href="https://radr.in">radr.in</a>
</div>

<div class="container">
    <h1>LinkRadr - URL Shortener</h1>
    <form action="/shorten/" method="post" class="url-form">
        {% csrf_token %}
        <input type="url" id="url" name="url" placeholder="Enter your URL..." required>
        <div class="btn-container">
            <button type="submit" class="btn-shorten btn-shorten-home">Shorten</button>
        </div>
    </form>
</div>

{% endblock %}
